<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllProductsFromDb</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.products.GetAllProductsInDbController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllProductsFromDb</servlet-name>
        <url-pattern>/products/allFromDb</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addNewProduct</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.products.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewProduct</servlet-name>
        <url-pattern>/products/addNew</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductFromDb</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.products.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductFromDb</servlet-name>
        <url-pattern>/products/deleteFromDb</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.shoppingcart.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsToBuy</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.products.GetAllAvailableToUserProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProductsToBuy</servlet-name>
        <url-pattern>/products/allAvailable</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsView</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.products.ViewAvailableProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProductsView</servlet-name>
        <url-pattern>/products/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.shoppingcart.AddProductToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/cart/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteFromCart</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.shoppingcart.DeleteFromCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFromCart</servlet-name>
        <url-pattern>/cart/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userPage</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.UserPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userPage</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllOrders</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.orders.AllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllOrders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.orders.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/cart/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userOrders</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.orders.UserOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userOrders</servlet-name>
        <url-pattern>/user/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>initialization</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.InitializationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initialization</servlet-name>
        <url-pattern>/initialization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewOrder</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.orders.ViewOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOrder</servlet-name>
        <url-pattern>/user/order/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.orders.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/orders/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginPage</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminMainPage</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.AdminPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminMainPage</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accessDenied</servlet-name>
        <servlet-class>vlad.petrovskyi.internetshop.controllers.user.AccessDeniedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accessDenied</servlet-name>
        <url-pattern>/accDen</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>vlad.petrovskyi.internetshop.web.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>vlad.petrovskyi.internetshop.web.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
